<div class="container">
    <div class="row justify-content-md-center">
    <div class="col-3">
        <figure class="figure">
            <img src="{{col.photoUrl}}" class="figure-img img-fluid rounded" alt="..." height="200" width="200">
            <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
        </figure>
    </div>
    <div class="col-9">
        <div class="row">matricule : {{col.matricule}} </div>
        <div class="row">nom: {{col.nom}}</div>
        <div class="row">prenoms: {{col.prenoms}}</div>
        <div class="row">email: {{col.email}}</div>
        <div class="row">Date de Naissance: {{col.dateDeNaissance}}</div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-6">
<a href=""> Créer un nuveau Collegue </a>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-light">Modifier</button>
    </div>
</div>
</div>

